<!DOCTYPE html>
<html>
<head>
<title>保本基金 安心来袭 - 平安陆金所</title>
<meta name="keywords" content="融资平台,投资平台,网上投资平台,小额投资平台,小额投资,个人小额投资,网上小额投资,小额投资理财,网上投资理财,投资好项目"/>
<meta name="description" content="中国平安陆金所官方网站,是中国平安保险集团股份有限公司旗下成员,在健全的风险管控体系基础上,为中小企业及个人客户提供专业,可信赖的投融资服务,助您财富实现增值!"/>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/config/css/main_1018.css" />
<link rel="shortcut icon" href="https://static.lufaxcdn.com/config/images/favicon-new.ico"/>
<link rel="stylesheet" type="text/css" href="css/header.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<meta http-equiv="Content-Type" content="text/html;">
</head>

<body>
<div class="header">
    <div class="content clearfix">
        <a href="//www.lu.com" target="_blank"><img src="images/logo.png" alt="" class="logo"/></a>
        <span class="headLink"><a class="goHomepage" href="//www.lu.com" target="_blank">平安陆金所首页</a><span class="currentPage"></span></span>
    </div>
</div>

<div class="banner">
    <div class="pic"><img src="{{{"type":"text", "label":"banner图片", "key": "bannerImg", "upload": true}}}">
        <!-- <p>市场不走心，投资不舒心，安慰一下!给你只既能买打折股票，又能0门槛投资高门槛的定向增发股，又有基金公司高管认购千万与你共担风险的基金，九泰锐富混合发起式基金(168102)!1月13-29日公开发售，可要抓紧喽!九泰锐富混合发起式基金(168102)!1月13-29日公开发售，可要抓紧喽!九泰锐富混合发起式基金(168102)!1月13-29日公开发售，可要抓紧喽!</p> -->
        <p>{{{"type":"textarea", "label":"大标题", "key": "desc"}}}</p>
    </div>
</div>


<div class="center">

[[{"type":"loop", "label":"推荐列表", "key": "recmList"}[{"type":"text", "label":"推荐人", "key": "recmPeople"},{"type":"text", "label":"推荐理由1", "key": "reason1"},{"type":"text", "label":"推荐理由2", "key": "reason2"},{"type":"textarea", "label":"推荐详细", "key": "recmDesc"},{"type":"text", "label":"基金Code", "key": "fundCode"},{"type":"select", "label":"显示数据", "key": "dataField", "options": [{"text":"日增长率","value":"dailyIncrease"},{"text":"近一个月","value":"oneMonIncrease"},{"text":"近三个月","value":"threeMonIncrease"},{"text":"近一年","value":"twelveMonIncrease"},{"text":"今年以来","value":"moreTwelveMonIncrease"},{"text":"成立以来","value":"totalIncrease"},{"text":"七日年化","value":"interestRatePerSevenDay"},{"text":"万份收益(元)","value":"benefitPerTenThousand"}]}]
    <input id="fundTableSize" type="hidden" value="{{=it.data.length}}">
    {{ for (var i = 0; i < it.data.length; i++) { }}
        {{var recm = it.data[i]; }}
        <div class="layout">
            <div class="jijin-title">
                <p class="recommend"><span>推荐人</span>:{{=recm.recmPeople}}</p>
                <p class="reason"><span>推荐理由：{{=recm.reason1}}</span></p>
                <p class="reason"><span>推荐理由：{{=recm.reason2}}</span></p>
            </div>
            <p class="word">{{=recm.recmDesc}}</p>
            <div class="form">
            <table>
                <thead>
                    <tr>
                        <th class="jijin-name list1">基金名称</th>
                        <th class="jijin-profit list1">{{=recm.dataFieldText}}</th>
                        <th class="jijin-fee list1">手续费</th>
                        <th class="jijin-operate list1">操作</th>
                   </tr>
                </thead>
                <tbody id="fund-list{{=i+1}}">
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="jijin-date">数据日期：<span id="dataDate{{=i+1}}"></span></td>
                    </tr>
                </tfoot>
            </table>
            </div>
            <div id="fundIds{{=i+1}}" class="hidden" fundIds="{{=recm.fundCode}}"></div>
            <div id="data-field{{=i+1}}" class="hidden" data-value="{{=recm.dataField}}"></div>
        </div>
    {{ } }}
]]

    <div class="pic-foot">
      <div class="state">
        <!-- <p>郑重声明：天天基金网发布此信息目的在于传播更多信息，与本网站立场无关。天天基金网不保证该信息（包括但不限于文字、数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。相关信息并未经过本网站证实</p> -->
        <p>{{{"type":"textarea", "label":"声明", "key": "state"}}}</p>
      </div>
    </div>
</div>
<div class="footer">
    <div class="content clearfix">
        <div class="contactbox">
            <i></i><p class="phoneNum">全国服务热线<br><span class="num">4008&nbsp;6666&nbsp;18</span> </p>
            <p class="calltime">人工服务时间 8:00 - 22:00</p>
        </div><p class="wechat"><img src="images/webchat.jpg" alt=""/> </p>
        <p class="copyright">版权所有 © 上海陆家嘴国际金融资产交易市场股份有限公司未经许可不得复制、转载或摘编，违者必究!<br>Copyright Shanghai Lujiazui International Financial Asset Exchange Co.,LTD. ALL Rights Reserved<br>沪 ICP 证 B2-20120023号&emsp;&emsp;&emsp;沪 ICP 备 12032241 号-7</p>
    </div>
</div>
<script type="text/javascript" src="https://static.lufaxcdn.com/config/js/lib/jquery-1.7.1.js"></script>
<script type="text/javascript" src="https://static.lufaxcdn.com/lufax-public/lufax-lib/lufax-lib.9a4de42b.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
<script id="fund-template" type="text/template">
    {{ for (var i = 0, len = it.data.length; i < len; i++) { }}
        {{ var line = i % 2 ? 'odd' : 'even', lineFund = it.data[i];}}
        {{ var statusStyle = lineFund.productStatus == 'PAUSE' || lineFund.productStatus == 'CLOSED' ? 'btn-stop' : '';}}
        <tr class="{{=line}}">
            <td class="list-title">({{=lineFund.fundCode}}) {{=lineFund.displayName}}</td>
            <td class="jijin-num {{=lineFund.fundDataDecrease}}">{{=lineFund.fundData}}</td>
            <td class="jijin-num"><span class="{{=lineFund.feeStyle}}">{{=lineFund.fee}}</span>  {{=lineFund.feeDiscount}}</td>
            <td><a href="//e.lufunds.com/jijin/detail?productId={{=lineFund.id}}"><i class="btn-invest {{=statusStyle}}"></i></a></td>
        </tr>
    {{ } }}
</script>
<script type="text/javascript">
    $(function(){
        $(".currentPage").html("保本基金 安心来袭");
    });
</script>
</body>
</html>
