<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
<div ng-app="fundTemplate" class="wrap">
    <header>
        活动模板生成
    </header>
    <nav>
        <a ui-sref="activity">生成活动页</a>
        <a ui-sref="upload">上传活动模板</a>
    </nav>
    <div class="outer" ui-view="">
        
    </div>
</div>
<script type="text/javascript" src="../bower_components/jQuery/dist/jquery.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<script type="text/javascript" src="../bower_components/jquery-form/jquery.form.js"></script>

<script type="text/javascript" src="/activity/activity.js"></script>
<script type="text/javascript" src="/activity/resource/ActivityResource.js"></script>
<script type="text/javascript" src="/activity/service/ActivityService.js"></script>
<script type="text/javascript" src="/activity/controller/ActivityController.js"></script>

<script type="text/javascript" src="/upload/upload.js"></script>

<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" src="/router.js"></script>

