<!DOCTYPE html>
<html>
<head>
    <title>练功房战报 - 平安陆金所</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="融资平台,投资平台,网上投资平台,小额投资平台,小额投资,个人小额投资,网上小额投资,小额投资理财,网上投资理财,投资好项目"/>
    <meta name="description"
          content="中国平安陆金所官方网站,是中国平安保险集团股份有限公司旗下成员,在健全的风险管控体系基础上,为中小企业及个人客户提供专业,可信赖的投融资服务,助您财富实现增值!"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<style>
    .btn {
       width: 80px;     
    }

</style>

<body>
<script type="text/javascript">
    (function () {
        document.documentElement.style.fontSize = (document.body.offsetWidth/320) * 14 + 'px';
    })()
    </script>
   <img src="images/banner.jpg">
    <div class="message">
        <img src="images/pic1.jpg">
        <p class="word1">八成投资者看涨2016年A股市场  公私募如何看后市开年私募扎堆调研55家公司 6个股逆市上涨引关注 股市很好买财富荣获“2015财富管理机构年度大奖</p>
   </div>
     <div class="form">
    <table>
        <caption class="jijin-title">相关基金</caption>
        <thead>
            <tr>
                 <th class="list1">基金名称</th>
                 <th class="list1">近一年涨幅</th>
                 <th class="list1">操作</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td class="jijin-pro list-title">
                    <div class="pro">630010富国城镇发展股票</div>
                    <div class="code"><span class="fee">申购费<span class="line"> 1.2% </span> 0.12%</span></div>
                </td>
                <td class="jijin-num">278.98%</td>
                <td class="btn"><img src="images/btn.png"></td>
            </tr>
            <tr>
                <td class="list-title">
                    <div>630010易方达新兴产业股</div>
                    <div class="code"><span class="fee">申购费<span class="line"> 1.2% </span> 0.12%</span></div>
                </td>
                <td class="jijin-num">124.98%</td>
                <td><img src="images/btn.png"></td>
            </tr>
            <tr>
                <td class="jijin-pro list-title">
                    <div class="pro">630010博时中证500</div>
                    <div class="code"><span class="fee">申购费<span class="line"> 1.2% </span> 0.12%</span></div>
                </td>
                <td class="jijin-num">108.34%</td>
                <td><img src="images/btn.png"></td>
            </tr>
            <tr>
                <td class="list-title">
                    <div>630010新兴行业配置A</div>
                    <div class="code"><span class="fee">申购费<span class="line"> 1.2% </span> 0.12%</span></div>
                </td>
                <td class="jijin-num">124.98%</td>
                <td><img src="images/btn-stop.png"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="jijin-date">数据日期：2016年3月18日</td>
            </tr>
        </tfoot>
    </table>
    </div>
<div class="message">
    <img src="images/pic2.jpg">
    <img src="images/pic3.jpg">
</div>
<div class="message">
        <p class="word2">郑重声明：天天基金网发布此信息目的在于传播更多信息，与本网站立场无关。天天基金网不保证该信息（包括但不限于文字、数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。相关信息并未经过本网站证实</p>
</div>

<script type="text/javascript" src="https://static.lufaxcdn.com/lufax-public/zepto/20140916.zepto.min.js"></script>
<script type="text/javascript" src="bridge.js"></script>
<script>
window.Bridge.call({
    "task":"title",
    "title":"练功房战报"
    });

</script>
</body>
</html>