<!DOCTYPE html>
<html>
<head>
<title>保本基金 安心来袭 - 平安陆金所</title>
<meta name="keywords" content="融资平台,投资平台,网上投资平台,小额投资平台,小额投资,个人小额投资,网上小额投资,小额投资理财,网上投资理财,投资好项目"/>
<meta name="description" content="中国平安陆金所官方网站,是中国平安保险集团股份有限公司旗下成员,在健全的风险管控体系基础上,为中小企业及个人客户提供专业,可信赖的投融资服务,助您财富实现增值!"/>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://static.lufaxcdn.com/config/css/main_1018.css" />
<link rel="shortcut icon" href="https://static.lufaxcdn.com/config/images/favicon-new.ico"/>
<link rel="stylesheet" type="text/css" href="css/header.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<meta http-equiv="Content-Type" content="text/html;">
</head>

<body>
<div class="header">
    <div class="content clearfix">
        <a href="//www.lu.com" target="_blank"><img src="images/logo.png" alt="" class="logo"/></a>
        <span class="headLink"><a class="goHomepage" href="//www.lu.com" target="_blank">平安陆金所首页</a><span class="currentPage"></span></span>
    </div>
</div>

<div class="banner">
    <div class="pic"><img src="images/banner.jpg"></div>
</div>
<div class="center">
<div class="layout">
    <img src="images/pic1.jpg">    
    <div class="form">
    <table>
        <thead>
            <tr>
                 <th class="jijin-name list1">基金名称</th>
                 <th class="jijin-profit list1">近一年收益</th>
                 <th class="jijin-fee list1">手续费</th>
                 <th class="jijin-operate list1">操作</th>
           </tr>
        </thead>
        <tbody>
           <tr>
                 <td class="jijin-pro list-title">(000663) 申万菱信量化小盘股票LOF</td>
                 <td class="jijin-num1">124.98%</td>
                 <td class="jijin-num2"><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-stop.png" onmouseover='src="images/btn-stop-hover.png"' onmouseout='src="images/btn-stop.png"' alt=""/></td>
           </tr>
           <tr>
                 <td class="list-title">(000663) 申万菱信量化小盘股票LOF</td>
                 <td class="jijin-num1">124.98%</td>
                 <td class="jijin-num2 "><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-invest.png" onmouseover='src="images/btn-invest-hover.png"' onmouseout='src="images/btn-invest.png"' alt=""/></td>
           </tr>
           <tr>
                 <td class="jijin-pro list-title">(000663) 国投瑞银美丽中国混合</td>
                 <td class="jijin-num1">108.34%</td>
                 <td class="jijin-num2"><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-invest.png" onmouseover='src="images/btn-invest-hover.png"' onmouseout='src="images/btn-invest.png"' alt=""/></td>
           </tr>
           <tr>
                 <td class="list-title">(000663) 申万菱信量化小盘股票LOF</td>
                 <td class="jijin-num1">124.98%</td>
                 <td class="jijin-num2"><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-invest.png" onmouseover='src="images/btn-invest-hover.png"' onmouseout='src="images/btn-invest.png"' alt=""/></td>
           </tr>
           <tr>
                 <td class="jijin-pro  list-title">(000663) 国投瑞银美丽中国混合</td>
                 <td class="jijin-num1">108.34%</td>
                 <td class="jijin-num2"><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-invest.png" onmouseover='src="images/btn-invest-hover.png"' onmouseout='src="images/btn-invest.png"' alt=""/></td>
           </tr>
           <tr>
                 <td class="list-title">(000663) 申万菱信量化小盘股票LOF</td>
                 <td class="jijin-num1"><span>124.98%</span></td>
                 <td class="jijin-num2"><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-invest.png" onmouseover='src="images/btn-invest-hover.png"' onmouseout='src="images/btn-invest.png"' alt=""/></td>
           </tr>
           <tr>
                 <td class="jijin-pro  list-title">(000663) 国投瑞银美丽中国混合</td>
                 <td class="jijin-num1"><span>108.34%</span></td>
                 <td class="jijin-num2"><span>1.6%</span>  0.3%</td>
                 <td><img src="images/btn-invest.png" onmouseover='src="images/btn-invest-hover.png"' onmouseout='src="images/btn-invest.png"' alt=""/></td>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="jijin-date">数据日期：2016年3月18日</td>
            </tr>
        </tfoot>
    </table>
    </div>
    <img src="images/pic2.jpg">
    <img src="images/pic3.jpg">
    <div class="pic-foot">
    <div class="state">
        <p>郑重声明：天天基金网发布此信息目的在于传播更多信息，与本网站立场无关。天天基金网不保证该信息（包括但不限于文字、数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、及时性、原创性等。相关信息并未经过本网站证实</p>
    </div>
</div>
</div>
</div>

<div class="footer">
    <div class="content clearfix">
        <div class="contactbox">
            <i></i><p class="phoneNum">全国服务热线<br><span class="num">4008&nbsp;6666&nbsp;18</span> </p>
            <p class="calltime">人工服务时间 8:00 - 22:00</p>
        </div><p class="wechat"><img src="images/webchat.jpg" alt=""/> </p>
        <p class="copyright">版权所有 © 上海陆家嘴国际金融资产交易市场股份有限公司未经许可不得复制、转载或摘编，违者必究!<br>Copyright Shanghai Lujiazui International Financial Asset Exchange Co.,LTD. ALL Rights Reserved<br>沪 ICP 证 B2-20120023号&emsp;&emsp;&emsp;沪 ICP 备 12032241 号-7</p>
    </div>
</div>

<script type="text/javascript" src="https://static.lufaxcdn.com/config/js/lib/jquery-1.7.1.js"></script>
<script type="text/javascript">
    $(function(){
        $(".currentPage").html("保本基金 安心来袭");
    });
</script>
</body>
</html>
