@charset "utf-8";

/* CSS Document */

*{ margin:0; padding:0; border:none;}
*{outline:none;}

body{ overflow-x: hidden; background: #fffceb;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
.clear{ clear:both; height:0;}


.banner {
    width:100%;
    margin:auto;   
    position: relative;
}

.banner .pic {
    background: #ffffff;
    margin: auto;
    width: 1150px;
    position: relative;
    border: 1px solid #e8e8e8;
}

.banner .pic p {
        padding: 20px 30px;
    font-size: 14px;
    text-indent: 2em;
}
.center {
    width:100%;
    margin:auto;
    position: relative;
}
.layout {
    background: #ffffff;
    margin: auto;
    width: 1150px;
    position: relative;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
}
.layout .form {
    margin: 0 40px;
    position: relative;
}

.layout .form table {
    line-height: 40px;
}
.jijin-title {
    height: 47px;
}
.recommend {
           width: 220px;
    float: left;
    font-size: 20px;
    margin: 20px 0 0px 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid #ff9b59;
}
.recommend span {
    color: #d45400;
}
.reason {
    color: #f64545;
    float: left;
    font-size: 12px;
    margin: 25px 0px;
    padding-bottom: 15px;
    border-bottom: 4px solid #d9d9d9;
}
.reason span {
        border: 1px solid #ff9b59;
    padding: 5px 10px;
    margin-left: 20px;
}
.look {
    width: 200px;
}
.hot {
    width: 647px;
}
.layout .word {
    padding: 20px 40px;
    font-size: 14px;
    text-indent: 2em;
}
.layout .form .list1 {
    font-weight: bold;
    text-align: center;    
    background-color: #f3f3f2;
    font-size: 12px;
    border-right: 1px solid #ffffff;
}
.layout .form .jijin-name {
    width: 260px;
}
.layout .form .jijin-profit {
    width: 220px;
}
.layout .form .jijin-fee {
    width: 290px;
}
.layout .form .jijin-operate {
    width: 293px;
}

.layout .form .jijin-num {
    color: #ec5400;
}

.layout .form .jijin-date {
    height: 47px;
    font-size: 14px;
    text-align: center;
}

.state {
    margin: auto;
    width: 1148px;
    position: relative;
    background-color: #f9f9f9;
    margin-top:20px; 
    padding: 16px 2px;
    margin-bottom: 50px;
}
.state p {
    font-size: 14px;
    line-height: 26px;
    color: #ff9b59;
    padding: 0 32px;
}

td{
    text-align: center;
    font-size: 14px;
}
.even td{
    background: #f3f3f2;
}
td.list-title{
    text-align: left;
    padding-left: 20px;
}
tbody td{
    border-bottom: 1px solid #ede6d6;
}
tbody span{
    text-decoration: line-through; 
    color: #999999;
}